*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    height: 100%;
    background-color: rgb(4, 119, 128);
}
#header{
    color: blanchedalmond;
    text-align: center;
    float: unset;
    margin-top: 50px;
}
#select{
    margin-bottom: 15px;
}


.container  {
    background: blanchedalmond;
    width: 400px;
    height: 550px;
    padding: 50px;
    margin: 70px auto;
    border-radius: 10px;
}

.coins {
   display: flex;
   position: relative;
   margin: 50px auto;
}

.coin {
    max-width: 50%;
    margin: auto;
    flex: 33.33%;
    padding: 5px;
  }

.container img {
    width: 100%;
}
    .stats {
        display: flex;
        color: rgb(0, 0, 0);
        padding: 17px;
        margin-top: 55px;
        margin-bottom: 20px;
        box-shadow: 0 0 20px rgb(15, 15, 15);
    }
    
    .stats p:nth-last-child(1){
        margin-left: 50%;
    }
    
    
    button{
        background: rgb(24, 213, 238);
        width: 150px;
        padding: 15px 0;
        border: none;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        float: right;
        margin-bottom: 10px;
    }

